
{% extends 'accounts/base.html' %} {% load static %} {% block content %}



<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="exercise-main">
       

   {% for exercise  in exercises %}
    
      <div class="card-item">
            <div class="card-header">
                <img src="{{exercise.thumbnail.url}}" width="300" height="300">
                <h2 class="card-title">{{exercise.title}}</h2>
                <div class="labels-wrapper">
                <div class="difficulty-box easy">
                    <span class="difficulty-text">{{exercise.difficulty}}</span>
                </div>
                
                    <a href="{% url 'exercises:exercise_detail' exercise.id %}" class="cta-box">Try</a>
                
            </div>
                <hr>
            </div>
            <div class="card-body">
                <p class="card-description">{{exercise.description}}</p>
                <p class="card-description">Image source <b>{{exercise.image_source}}</b></p>

                
            </div>

      
</div>

   {% endfor %}

   

   
  
   



</main>

{% endblock %}


