
{% extends 'accounts/base.html' %} {% load static %} {% block content %}



<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="landing">
         <!--Arrun Code-->
        <div class="textBoxNutrition">
        <h1>Nutrition planner</h1>
        <p>Plan your diet   </p>
        <br>
       <div class="images">
         {% for recipe in recipes  %}
            <fig>

            <img src="{{recipe.thumbnail.url}}" width="250" height="250" alt="option 1">
            <figcaption>{{recipe.title}}</figcaption>
             {% for category in recipe.get_categories  %}
                  <li class="category-box">{{category}}</li>
             {% endfor %}
            </fig>
         {% endfor %}
        
       

{% comment %}       
        <fig class="saladImage">
         <img src="{%static 'images/chickensalad.jpg' %}"  width="250" height="250" alt="option 2">
         <figcaption>Chicken , broccoli </figcaption>
         <figcaption> and beetroot salad</figcaption>
           <figcaption> with avocado pesto</figcaption>
        </fig>
    
        <fig>
         <img src="{%static 'images/prawnspaghetti.jpg' %}" width="250" height="250" alt="option 3">
         <figcaption>Prawn and Harissa Spaghetti </figcaption>
        </fig>
     
        <fig class="pomegranateImage">
         <img src="{%static 'images/pomegranatechicken.jpg' %}" width="250" height="250" alt="option 4">
         <figcaption>Pomegrante Chicken </figcaption>
         <figcaption>with almond couscous </figcaption>
        </fig> {% endcomment %}
     </div>

    </div>

        
   



</main>

{% endblock %}


