
{% extends 'accounts/base.html' %} {% load static %} {% block content %}



<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="recipe-main">
       

   {% for recipe  in recipes %}
    
    <div class="card-item">
            <div class="card-header">
                <img src="{{recipe.thumbnail.url}}" width="300" height="300">
                <h2 class="card-title">{{recipe.title}}</h2>
                <div class="labels-wrapper">
              
                    <a href="{% url 'nutrition_planner:detailed_recipe' recipe.id %}" class="cta-box">Try</a>
                     <div class="category-wrapper">
                    <p class="label-purple">{{recipe.get_categories.0}}</p>
                    
                    <p class="label-green">{{recipe.get_categories.1}}</p>

                </div>
            </div>
                <hr>
            </div>
            <div class="card-body">
                <p class="card-description">{{recipe.description}}</p>
            </div>

      
</div>

         
       

         </div>

      </div>

   
   {% endfor %}
  
   
 



</main>

{% endblock %}



