{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Lobster&display=swap" rel="stylesheet"><!--Arrun-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
   {%block extrahead %}
    {% endblock %}
</head>
<body>
    {% include 'accounts/nav.html' %}

    {% block content %}

    {% endblock %}


    <!-- The block for including additional script tags if needed such jquery and different js libraries -->
    {% block scripts %}
    {% endblock %} 
    </body>
    </html>
