{% extends 'accounts/base.html' %} {% load static %} {% block content %}
<main class="landing">
    <div class="hero">
         <!--Arrun Code-->
        <div class="textBox">
        <p>Hello and Welcome to our Health App our app offers multiple options of healthcare activities we are certain every user would find an activity that would suit
             their needs</p>
            <br>
        <p>We have created this app in order to help users to manage with their mental wellbeing and their resilience aswell as helping those struggling with stress all our health care activties are designed in a way to help these users in the best way possible. </p>
       <br>
        <p>Options of healthcare activites users are able to choose from are:</p>
        <p>Emotion Tracker, Sleep Tracker, Meditation, Exercise Planner and Nutrition Planner</p>
        <br>
        <p>In order to access the healthcare activities please create an account if not already done so.</p>
        </div>



         <!--Arrun Code-->
        <div class = "image">
        <img src="{%static 'images/heart.png' %}" width="500" height="500" alt="heart">
    </div>


        <div class="content">

        </div>
    </div>



</main>
{% endblock %}
