 {% load static %}
<nav class="navbar">
    <li class="nav-item-left">
       <a class="logo-text" href="{% url 'accounts:home' %}"><span id="Health">Health</span> App</a><!--Arrun-->
    </li>
    {% if user.is_authenticated %}

    <li class="profile-link">
        <a class="" href="{% url 'accounts:profile' %}">Hi, {{ user.username }}</a>
    </li>
    <li class="profile-link">
        <a class="" href="{% url 'tracker:dashboard' %}">Tracker</a>
    </li>
   <li><!--Arrun-->
        <div class="menu">
            <button class="menuButton">Health Care Activities</button>
            <div class="activities">
              <a href="{% url 'sleep_tracker:dashboard' %}">Sleep Tracker</a>
              <a href="">Emotion Tracker</a>
              <a href="">Nutrition Planner</a>
              <a href="">Exercise </a>
              <a href="">Meditation</a>
            </div>
          </div>
    </li>
    <li class="nav-item-right">
        <a class="btn-register" href="{% url 'accounts:logout' %}">Log out</a>
    </li>

    {% else %}
    <li class="nav-item-right">
        <a class="btn-login" href="{% url 'accounts:login' %}">Log in</a>
    </li>
    <li class="nav-item-right">
        <a class="btn-register" href="{% url 'accounts:register' %}">Register</a>
    </li>
    {% endif %}
</nav>
