{% extends 'accounts/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/authentication.css' %}">
    <title>Register</title>
{% endblock %}
{% block content %}
<div class="register-form">
    <div class="register-form-inner">
        
    <form action="" method="POST">
        {% if form.errors %}
        <div class="errors-container">
            {% for field in form %}
            {% if field.errors %}
            <li class="error-message">
                {{ field.label }}: {{ field.errors|striptags }}

            </li>{% endif %}
        {% endfor %}

        </div>
        {%endif %}
      
        <h1 class="form-title">Create Account</h1>
        <br>
        {% csrf_token %}
        {{ form.username.label }}

        <div class="input">{{ form.username }}</div>
        {{ form.email.label }}

        <div class="input">{{ form.email }}</div>
        {{ form.password1.label }}

        <div class="input">{{ form.password1 }}</div>
        {{ form.password2.label }}

        <div class="input"> {{ form.password2 }}</div>
        <div>
             <a href="">Already registered? Login</a>
             <br>
             <em>or</em>
            <br>
            <a href="">forgot your password?</a>
            
    
            </div>
        <button class="btn-register-form" type="submit">Register</button>
          
			
        </form>
       
    </div>
</div>

{% endblock %}
