
{% extends 'accounts/base.html' %} {% load static %} {% block content %}



<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="landing">
    <div class="hero">
         <!--Arrun Code-->
        <div class="meditationTextBox">
        <h1>Meditation</h1>
    
        <p>Choose Music to relax and listen to soft sounds  </p>
        <br>
        <p>Choose Yoga to stretch and loosen your body for stress relief </p>
        <br>
        <p>Choose Breathing to have a calm and peaceful mind</p>
       <br>


        <div class="meditationFlexbox">
            
            <fig>
                <img src="{%static 'images/music.jpg' %}" width="350" height="350" alt="music">
                <figcaption class="meditationName">Music</figcaption>
            </fig>
            <a href="{% url 'meditation:yoga_main' %}">
            <fig>
                <img src="{%static 'images/yoga.jpg' %}" width="350" height="350" alt="yoga">
                <figcaption class="meditationName">Yoga</figcaption>
            </fig>
            </a>
            <fig>
                <img src="{%static 'images/meditation.jpg' %}" width="350" height="350" alt="meditation">
                <figcaption class="meditationName">Breathing</figcaption>
            </fig>
            
        </div>
        </div>
    </div>



</main>

{% endblock %}


