
{% extends 'accounts/base.html' %} {% load static %} {% block content %}



<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="emotion-main">
   
    
          
            <form class="emotion-form" method="post">
                {% csrf_token %}
                <div class="radio-fieldset">
                {{form.emotion.label}}
                {% for field in form.emotion  %}
                    <div class="radio-field">
                        {{ field}}
                    </div>
                {% endfor %}
                </div>
                <div class="comment-field">
                {{form.comment}}
                
                </div>

                <button type="submit">Submit</button>
            </form>
         

</main>



<script src="{% static 'js/emotion_tracker.js'%}"></script>
{% endblock %}

