
{% extends 'accounts/base.html' %} {% load static %} {% block content %}


<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="emotion-main">
   
    
          <h1 class="emotion-page-title">Express your feelings</h1>
            <form class="emotion-form" method="post">
                {% csrf_token %}
                <div class="radio-fieldset">
                
                {% for field in form.emotion  %}
                    <div class="radio-field">
                        {{ field}}
                    </div>
                {% endfor %}
                </div>
                <label for="id_comment">Add Comment</label>

                <div class="comment-field">

                {{form.comment}}
                
                </div>

                <button class="btn-emotion-submit" type="submit">Submit</button>
            </form>
         
   
<table class="emotion-table">
	<thead>
	<tr class="table-headers">
    <th>Date</th>
    <th>Emotion</th>
    <th>Comment</th>
    <th>Details</th>
    <th>Update</th>

    
	</tr>
	</thead>
	<tbody>
     {% for result in results %}

    <tr class="emotion_table">
      <td>{{result.date}}</td>
      <td>{{result.emotion}}</td>
      <td>{{result.comment}}</td>
      <td>
      <a class="cta-box cta-update" href="{% url 'emotion_tracker:emotion_update' result.id %}">Update</a></td>

      </td>
      <td>  
            <a class="cta-box cta-delete" onclick="return confirm('Are you sure?')" href="{% url 'emotion_tracker:emotion_delete' result.id %}">Delete</a>


      </td>
    </tr>
    {% endfor %}

    </tbody>
    </table>
    


</main>



<script src="{% static 'js/emotion_tracker.js'%}"></script>

{% endblock %}

