
{% extends 'accounts/base.html' %} {% load static %} {% block content %}

<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>

<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="landing">
    <div class="hero">
         <!--Arrun Code-->
        <div class="textBox">
        <h1>Sleep Tracker</h1>
            <br>
        <p>Track your sleep  </p>
       <br>


        <div class="content">
            <div class="form-wrapper">
                <form method="post">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
        
                    <button type="submit" class="btn btn-register">Add Sleep Time</button>
                    {% if messages %}
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }} msg" {% endif %}>{{message}}</li>
                    {% endfor %}
                {% endif %}
                </form>
            </div>
            
                <table class="styled-table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Hours</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for sd in sleep_data %}
                      <tr>
                        <td>{{sd.start}}/{{sd.end}}</td>
                        <td>{{sd.calculate_sleep_hours}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            
       
        </div>
    </div>



</main>

{% endblock %}

{% block scripts %}

{% endblock %}