
{% extends 'accounts/base.html' %} {% load static %} {% block content %}

<script src="{% url 'js-catlog' %}"></script>
<script src="{% static '/admin/js/core.js' %}"></script>

<link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
<main class="landing">
    <div class="hero">
         <!--Arrun Code-->
        <div class="textBox">
        <h1>Sleep Tracker</h1>
            <br>
        <p>Track your sleep  </p>
       <br>

        <form>
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}

            <button type="submit" class="btn btn-register">Add Sleep Time</button>
        </form>

        <div class="content">

        </div>
    </div>



</main>

{% endblock %}

{% block scripts %}

{% endblock %}